<h1>Register a movie</h1>
<%= form_with model: @movie do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <br>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <br>
  <div>
    <%= form.label :rating %><br>
    <%= form.select :rating, ["Select", "G", "PG", "PG-13", "R", "NC-17"], selected: @movie.rating %>
  </div>
  <br>
  <div>
    <%= form.label :release_date %><br>
    <%= form.date_field :release_date %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
